<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->
		<header id="header">
			<div class="logo">
				<span class="icon {{ site.icon }}"></span>
			</div>
			<div class="content">
				<div class="inner">
          <a href=https://shop.gaianysus.com/>
					<h1>{{ site.title }}</h1>
          </a>
					<p>{{ site.description }}</p>
				</div>
			</div>
			<nav>
				<ul>
					{% for page in site.pages  %}
					{% unless page.layout == 'default' %}
          {% if page.navvy == 'positive' %}
					<li><a href="#{{ page.title }}">{{ page.title }}</a></li>
          {% endif %}
					{% endunless %}{% endfor %}
				</ul>
			</nav>
		</header>

	<!-- Main -->
		<div id="main">
